@using Project.BLL.Dtos.Account
@model ChangePasswordDto

@{
    ViewData["Title"] = "Change Password";
}
<div class="addProd container bg-dark shadow m-4">

    <h2 class="text-white">ChangePassword</h2>
    <form method="post" asp-action="ChangePassword" asp-controller="User">

        <div class="row">
            <div class="col-7 m-auto mb-2">
                <div>
                    <label asp-for="CurrentPassword" class="form-label text-white mt-4"></label>
                    <div class="input-group">
                        <input asp-for="CurrentPassword" class="form-control text-white bg-dark" type="password" id="currentPassword" placeholder="Enter Current Password">
                        <span class="input-group-text bg-dark" onclick="togglePassword('currentPassword')">
                            <i class="fa fa-eye text-white" id="toggleCurrentPassword"></i>
                        </span>
                    </div>
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="col-7 m-auto mb-2">
                <div>
                    <label asp-for="NewPassword" class="form-label text-white mt-4"></label>
                    <div class="input-group">
                        <input asp-for="NewPassword" class="form-control text-white bg-dark" type="password" id="newPassword" placeholder="Enter New Password">
                        <span class="input-group-text bg-dark" onclick="togglePassword('newPassword')">
                            <i class="fa fa-eye text-white" id="toggleNewPassword"></i>
                        </span>
                    </div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="col-7 m-auto mb-2">
                <div>
                    <label asp-for="ConfirmPassword" class="form-label text-white mt-4"></label>
                    <div class="input-group">
                        <input asp-for="ConfirmPassword" class="form-control text-white bg-dark" type="password" id="confirmPassword" placeholder="Enter Confirm Password">
                        <span class="input-group-text bg-dark" onclick="togglePassword('confirmPassword')">
                            <i class="fa fa-eye text-white" id="toggleConfirmPassword"></i>
                        </span>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
        </div>

            <div class="text-center mt-3">
                <a asp-action="Index" class="btn btn-cancel me-3 btn-lg">Cancel</a>
                <button type="submit" class="btn btn-primary btn-lg">Change</button>
            </div>
            </div>
    </form>
</div>


@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script>
        function togglePassword(fieldId) {
            var passwordField = document.getElementById(fieldId);
            var toggleIcon = document.getElementById('toggle' + capitalizeFirstLetter(fieldId));

            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleIcon.classList.remove("fa-eye");
                toggleIcon.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                toggleIcon.classList.remove("fa-eye-slash");
                toggleIcon.classList.add("fa-eye");
            }
        }

        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
    </script>
    
}